[logstash-{{ _logstash_combined.version }}]
name=logstash repository for {{ _logstash_combined.version }}.x packages
baseurl=https://packages.elastic.co/logstash/{{ _logstash_combined.version }}/centos
gpgcheck=1
gpgkey=https://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
